:root {
  --bg-color: #F7EBE8; /* Seashell */
  --text-color: #444140; /* Jet */
  --secondary-text-color: #64605f; /* Jet */
  --accent-color: #F95738; /* Red Salsa */
  --highlight-color: #FF9921; /* Light Salmon */
  --code-background-color: #EFD7D2 /* Ebony */
}