{% assign posts = site.posts %}

{% for post in posts %}
  {% if post.url == page.url %}
    <div class="postNavigation">

    {% unless forloop.first %}
      {% assign previous = forloop.index0 | minus: 1 %}
      {% assign previous_post = posts[previous] %}
      <a href="{{ previous_post.url }}" class="previous">&#60; {{ previous_post.title }}</a>
    {% endunless %}

    {% unless forloop.last %}
      {% assign next = forloop.index0 | plus: 1 %}
      {% assign next_post = posts[next] %}
      <a href="{{ next_post.url }}" class="next">{{ next_post.title }} &#62;</a>
    {% endunless %}

    </div>
  {% break -%}
  {% endif -%}
{% endfor -%}