article h1 {
  color: var(--accent-color);
  border-bottom: 1px solid var(--rule-color);
  padding-bottom: .3em;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
}

article h2 {
  /* color: var(--accent-color); */
  border-bottom: 0.5px solid var(--secondary-text-color);
}

article h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
}

article a {
  color: var(--accent-color);
  text-decoration-line: underline;
}

article img {
  display: block;
  max-width: 100%;
  box-sizing: initial;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

article code.highlighter-rouge {
  font-family: Courier, monospace;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
}

article figure.highlight {
  margin: 0;
}

article figure.highlight pre {
  background-color: var(--code-background-color);
  padding: 5px 10px;
  border-radius: 10px;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
article figure.highlight pre::-webkit-scrollbar {
  display: none;
}

article hr {
  background-color: var(--rule-color);
}

article .date {
  color: var(--secondary-text-color);
  font-size: small;
}

article aside {
  padding: 0 10px;
  margin: 2em 0;
  border-radius: 10px;
  border: 1px solid;
}

article aside h1 {
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: 800;
  line-height: 1;
}

article aside.info {
  background-color: var(--aside-info-background);
  border-color: var(--aside-info-text);
}

article aside.info h1 {
  color: var(--aside-info-text);
}

article aside.note {
  background-color: var(--aside-note-background);
  border-color: var(--aside-note-text);
}

article aside.note h1 {
  color: var(--aside-note-text);
}

article aside.warning {
  background-color: var(--aside-warning-background);
  border-color: var(--aside-warning-text);
}

article aside.warning h1 {
  color: var(--aside-warning-text);
}