article h1 {
  color: var(--accent-color);
  border-bottom: 1px solid var(--rule-color);
  padding-bottom: .3em;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.25;
}

article h2 {
  /* color: var(--accent-color); */
  border-bottom: 0.5px solid var(--secondary-text-color);
}

article h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;
}

article a {
  color: var(--accent-color);
  text-decoration-line: underline;
}

article img {
  display: block;
  max-width: 100%;
  box-sizing: initial;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

article code {
  font-family: Courier, monospace;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  padding: 0px 4px 0px 4px;
  border-radius: 5px;
}

article hr {
  background-color: var(--rule-color);
}

article .date {
  color: var(--secondary-text-color);
  font-size: small;
}