:root {
  --bg-color: #F7EBE8; /* Seashell */
  --text-color: #444140; /* Jet */
  --secondary-text-color: #64605f; /* Jet */
  --accent-color: #F95738; /* Red Salsa */
  --highlight-color: #FF9921; /* Light Salmon */
  --code-text-color: var(--accent-color);
  --code-background-color: #efd7d283; /* Ebony */
  --rule-color: var(--accent-color);

  --aside-info-background: #c5c5c533;
  --aside-info-text: var(--text-color);
  --aside-note-background: #41c0ff33;
  --aside-note-text: #00aaffb3;
  --aside-warning-background: #ff97212c;
  --aside-warning-text: #FF9921;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000; /* Black */
    --text-color: #D7D6D5; /* Anti-flash White */
    --secondary-text-color: #888281; /* Taupe Gray */
    --accent-color: #F95738; /* Tomato */
    --highlight-color: #FFA947; /* Orange Peel */
    --code-text-color: var(--highlight-color);
    --code-background-color: #404040;
    --rule-color: var(--secondary-text-color);

    --aside-info-background: #c5c5c533;
    --aside-info-text: var(--text-color);
    --aside-note-background: #00aaff33;
    --aside-note-text: #00aaffb3;
    --aside-warning-background: var(--code-background-color);
    --aside-warning-text: #ffbd72;
  }
}