.cv {

}

.cv section {

}

.cvHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cvHeading h1 {
    margin-bottom: 0;
    font-size: xx-large;
    color: var(--accent-color);
}

.cvHeading p {
    margin-top: 0;
}

.cvSocialIcons {
    display: flex;
    gap: 8px;
}

.cv h2 {
    margin-bottom: 0;
}

.cv hr {
    color: var(--accent-color);
    margin-top: 0;
}

.cvSkill {
    
}

.cvImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid var(--text-color) 2px;
}