.cv {
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-bottom: 0;
        font-size: xx-large;
        color: var(--accent-color);
    }
  
    p {
        margin-top: 0;
    }
  }

  .socialIcons {
    display: flex;
    gap: 8px;
  }

  .image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid var(--text-color) 2px;
  }

  h2 {
    margin-bottom: 0;
    color: var(--accent-color);
  }

  hr {
    color: var(--accent-color);
    margin-top: 0;
  }

  .titleTextBox {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    gap: 4px;
  }

  .job {
    .heading {
      align-items: first baseline;
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    ul {
      margin-top: 0;
    }
  }

  .education {
    .heading {
      align-items: first baseline;
    }
    
    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .skills {
    span {
      font-family: Courier, monospace;
      color: var(--code-text-color);
      background-color: var(--code-background-color);
      padding: 2px 4px;
      border-radius: 5px;
    }
  }

  .project {
    h3 {
      margin: 0;
    }

    a h3 {
      color: var(--text-color);
      text-decoration: none;
      border: none;
    }

    p {
      margin: 0;
    }

    ul {
      margin-top: 0;
    }
  }
}