@import url(colors.css);
@import url(article.css);
@import url(code-highlight.css);
@import url(cv.css);

body {
    font-family: system-ui, Helvetica, sans-serif;
    line-height: 1.5;
    background: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--accent-color);
}

footer {
    color: var(--secondary-text-color);
    text-align: center;
    font-size: small;
}

@media (max-width: 630px) {
    footer {
        margin-top: 50px;
        height: initial;
    }
}

.content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    h1 {
        color: var(--accent-color);
    }
}

@media (max-width: 630px) {
    .content {
        flex-direction: column;
        height: initial;
    }
}

.mainImage {
    margin-right: 30px;

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid var(--text-color) 2px;
    }
}

@media (max-width: 630px) {
    .mainImage {
        margin: auto auto 30px;
    }
}

.highlight {
    color: var(--highlight-color);
}

.readingMargins {
    max-width: 800px;
    margin: auto;
}

.secondary-text {
    color: var(--secondary-text-color);
}