<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <link rel="stylesheet" href={{ "/assets/css/styles.css?v=1.0"|site_url }}>

  {# % feed_meta % #}

  {% seo %}


  <script src="https://kit.fontawesome.com/bae51c7054.js" crossorigin="anonymous"></script>

</head>

<body>

{% block scripts %}{% endblock %}

{% include "navbar.html" %}

{% block content %}{% endblock %}

{% include "footer.html" %}

</body>
</html>
