{% extends "default.html" %}

{% block stylesheets %}
<link rel="stylesheet" href={{ "/assets/css/highlightjs-copy.css"|site_url }}>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src={{ "/assets/scripts/highlightjs-copy.js"|site_url }}></script>
<script>
    hljs.addPlugin(new CopyButtonPlugin({ autohide: true }));
    hljs.highlightAll();
</script>
{% endblock %}

{% block content %}
<article class="readingMargins">
{% include "post_navigation.html" %}

<h1>{{ page.title }}</h1>

<div class="articleTitleDecorators">
<div class="left">
{% block leftArticleTitleDecorator %}
<p class="date">Written on {{ page.date|date:"MMMM d, yyyy" }}{% if page.updatedDate %}, Updated on {{ page.updatedDate|date:"MMM d, yyyy" }}{% endif %}</p>
{% endblock %}
</div>

<div class="right">
{% block rightArticleTitleDecorator %}
{% if page.tldr %}
<p class="tldr-prompt">Short on time? <a href="{{ "/tldr/"|append:page.filename|site_url }}">View the TLDR version here</a></p>
{% endif %}
{% endblock %}
</div>
</div>

{% if page.tableOfContents %}
<nav>
<h4>On this page</h1>
{% table_of_contents %}
</nav>
{% endif %}

{% block postContent %}{% endblock %}

{% include "post_navigation.html" %}
</article>
{% endblock %}
