<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="Inal Gotov">

  <link rel="stylesheet" href="/assets/css/styles.css?v=1.0">

  {% feed_meta %}
  {% seo %}

  <script src="https://kit.fontawesome.com/bae51c7054.js" crossorigin="anonymous"></script>
  
</head>

<body>

  {{ content }}

  {% include footer.html %}

</body>
</html>
